/* body{
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #1781eb;
} */

/* h1 { font-family: cursive;
    color:blueviolet;

} */

.wrapper {
    color: white;
    font-family: cursive;
}

.main{
    background-color: transparent;
}

/*
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;   
*/

/* Globals */
/* Globals */
/* Globals */

a:link, 
a:visited {
    color: #ED462F;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
}

.Marvel{
    color: red;
    font-family: cursive;
}

a:hover,
a:active {
    color: white;
    background-color: #3c2fed;
    box-shadow: 0 1rem 2rem rgba(black, .4);
    transform: rotate(5deg) scale(1.2);
    padding: 2px;
    
}


.jumbotron {
    background-color: #1cadd1;
}

.apiOne {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 2px;
    width: 5px;
    height: 5px;
}

.apiTwo {
    margin-top: 10px;
}

.testing{
    width: 15px;
}